<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">person</mat-icon>
                            &nbsp;{{tableTitle}}
                        </ng-template>
                        <table mat-table [dataSource]="DataSource" multiTemplateDataRows class="mat-elevation-z8">
                            <ng-container matColumnDef="{{column}}" *ngFor="let column of DataColumnsToDisplay">
                                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                            </ng-container>
                            <ng-container matColumnDef="expand">
                                <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button aria-label="expand row"
                                        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                                        (click)="toggleRow(element)">
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                        <!-- <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon> -->
                                    </button>
                                </td>
                            </ng-container> 
                            <ng-container matColumnDef="expandedDetail">
                                <td mat-cell *matCellDef="let element" [attr.colspan]="DetailsColumnsToDisplay.length">
                                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <table mat-table #outerSort="matSort" [dataSource]="DetailDataSource" multiTemplateDataRows class="mat-elevation-z8" matSort #expandedTable>
                                            <ng-container matColumnDef="{{column}}"
                                                *ngFor="let column of DetailsColumnsToDisplay">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                                                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>     
                                            </ng-container>
                                            <ng-container matColumnDef="expand">
                                              <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                                              <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()" (click)="toggleRow(element)">
                                                  <mat-icon>keyboard_arrow_down</mat-icon>
                                                </button>
                                                <mat-icon>keyboard_arrow_down</mat-icon>
                                              </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="DetailsColumnsToDisplay"></tr>
                                            <tr mat-row *matRowDef="let row; columns: DetailsColumnsToDisplay;"></tr>
                                        </table>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="DataColumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let element; columns: DataColumnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                                (click)="expandedElement = expandedElement === element ? null : element">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                            </tr>
                        </table>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">list</mat-icon>
                            &nbsp;Records
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-category">{{patientName}}</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Laboratory Type</mat-label>
                                        <input matInput value={{this.billTotal}} type="text" placeholder="Payment Refrence">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Date</mat-label>
                                        <input matInput value={{this.billTotal}} type="text" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Laboratory Result</mat-label>
                                        <input matInput value={{this.billTotal}} type="text" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Lab Technician Remarks</mat-label>
                                        <input matInput value={{this.billTotal}} type="text" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Transfer to</mat-label>
                                        <input matInput value={{this.billTotal}} type="text" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit"
                                class="btn btn-danger pull-right">{{button}}</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>